In [1]:
import polars as pl
import pandas as pd
from psifr import fr
data_file = "2011_Polyn.csv"

In [2]:
raw = pd.read_csv(data_file)
raw

       subject  list  position trial_type        item  category  task  period
0           21     1         1      study  BATTLESHIP        36     1       0
1           21     1         2      study   ROOT BEER        43     1       0
2           21     1         3      study     JOURNAL        33     1       0
3           21     1         4      study   BLUEBERRY        21     1       0
4           21     1         5      study        GALE        42     1       0
...        ...   ...       ...        ...         ...       ...   ...     ...
25399       45    28         9     recall      FARMER        32     1       1
25400       45    28        10     recall    STRAINER        26     1       1
25401       45    28        11     recall     PICCOLO        31     1       1
25402       45    28        12     recall     MELISSA        24     1       1
25403       45    28        13     recall      DINGHY        36     1       1

[25404 rows x 8 columns]

In [4]:
data = fr.merge_free_recall(raw, list_keys=["task"], recall_keys=["period"], study_keys=["category"])
data.head(24)

,subject,list,item,input,output,study,recall,repeat,intrusion,task,category,period,prior_list,prior_input
0,21,1,BATTLESHIP,1.0,5.0,True,True,0,False,1,36.0,1.0,NaN,NaN
1,21,1,ROOT BEER,2.0,4.0,True,True,0,False,1,43.0,1.0,NaN,NaN
2,21,1,JOURNAL,3.0,2.0,True,True,0,False,1,33.0,1.0,NaN,NaN
3,21,1,BLUEBERRY,4.0,NaN,True,False,0,False,1,21.0,NaN,NaN,NaN
4,21,1,GALE,5.0,3.0,True,True,0,False,1,42.0,1.0,NaN,NaN
5,21,1,SWORDFISH,6.0,NaN,True,False,0,False,1,16.0,NaN,NaN,NaN
6,21,1,ANATOMY,7.0,NaN,True,False,0,False,1,34.0,NaN,NaN,NaN
7,21,1,PARISH,8.0,NaN,True,False,0,False,1,49.0,NaN,NaN,NaN
8,21,1,SWEDEN,9.0,6.0,True,True,0,False,1,12.0,1.0,NaN,NaN
9,21,1,DESERT,10.0,NaN,True,False,0,False,1,23.0,NaN,NaN,NaN
10,21,1,BACK,11.0,10.0,True,True,0,False,1,2.0,1.0,NaN,NaN
11,21,1,ZEBRA,12.0,9.0,True,True,0,False,1,20.0,1.0,NaN,NaN
12,21,1,CLOGS,13.0,7.0,True,True,0,False,1,19.0,1.0,NaN,NaN
13,21,1,TROMBONE,14.0,NaN,True,False,0,False,1,31.0,NaN,NaN,NaN
14,21,1,FOLK,15.0,NaN,True,False,0,False,1,30.0,NaN,NaN,NaN
15,21,1,SOFA,16.0,NaN,True,False,0,False,1,22.0,NaN,NaN,NaN
16,21,1,THYME,17.0,NaN,True,False,0,False,1,35.0,NaN,NaN,NaN
17,21,1,PHILADELPHIA,18.0,8.0,True,True,0,False,1,8.0,1.0,NaN,NaN
18,21,1,BOWL,19.0,NaN,True,False,0,False,1,26.0,NaN,NaN,NaN
19,21,1,SCREW,20.0,NaN,True,False,0,False,1,6.0,NaN,NaN,NaN
20,21,1,METHANE,21.0,11.0,True,True,0,False,1,50.0,1.0,NaN,NaN
21,21,1,DAVE,22.0,NaN,True,False,0,False,1,3.0,NaN,NaN,NaN
22,21,1,SUBJECT,23.0,1.0,True,True,0,False,1,46.0,1.0,NaN,NaN
23,21,1,CAROL,24.0,NaN,True,False,0,False,1,24.0,NaN,NaN,NaN

In [8]:
df = pl.DataFrame(data)
df = df.with_columns(
    pl.col(["input", "output", "category", "period", "prior_list", "prior_input"]).cast(pl.Int64)
)
df.head(24)

shape: (24, 14)
┌─────────┬──────┬────────────┬───────┬───┬──────────┬────────┬────────────┬─────────────┐
│ subject ┆ list ┆ item       ┆ input ┆ … ┆ category ┆ period ┆ prior_list ┆ prior_input │
│ ---     ┆ ---  ┆ ---        ┆ ---   ┆   ┆ ---      ┆ ---    ┆ ---        ┆ ---         │
│ i64     ┆ i64  ┆ str        ┆ i64   ┆   ┆ i64      ┆ i64    ┆ i64        ┆ i64         │
╞═════════╪══════╪════════════╪═══════╪═══╪══════════╪════════╪════════════╪═════════════╡
│ 21      ┆ 1    ┆ BATTLESHIP ┆ 1     ┆ … ┆ 36       ┆ 1      ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ ROOT BEER  ┆ 2     ┆ … ┆ 43       ┆ 1      ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ JOURNAL    ┆ 3     ┆ … ┆ 33       ┆ 1      ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ BLUEBERRY  ┆ 4     ┆ … ┆ 21       ┆ null   ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ GALE       ┆ 5     ┆ … ┆ 42       ┆ 1      ┆ null       ┆ null        │
│ …       ┆ …    ┆ …          ┆ …     ┆ … ┆ …        ┆ …      ┆ …          ┆ …           │
│ 21      ┆ 1    ┆ SCREW      ┆ 20    ┆ … ┆ 6        ┆ null   ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ METHANE    ┆ 21    ┆ … ┆ 50       ┆ 1      ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ DAVE       ┆ 22    ┆ … ┆ 3        ┆ null   ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ SUBJECT    ┆ 23    ┆ … ┆ 46       ┆ 1      ┆ null       ┆ null        │
│ 21      ┆ 1    ┆ CAROL      ┆ 24    ┆ … ┆ 24       ┆ null   ┆ null       ┆ null        │
└─────────┴──────┴────────────┴───────┴───┴──────────┴────────┴────────────┴─────────────┘

In [12]:
df.filter(pl.col("task") == 3)

shape: (6_125, 14)
┌─────────┬──────┬───────────┬───────┬───┬──────────┬────────┬────────────┬─────────────┐
│ subject ┆ list ┆ item      ┆ input ┆ … ┆ category ┆ period ┆ prior_list ┆ prior_input │
│ ---     ┆ ---  ┆ ---       ┆ ---   ┆   ┆ ---      ┆ ---    ┆ ---        ┆ ---         │
│ i64     ┆ i64  ┆ str       ┆ i64   ┆   ┆ i64      ┆ i64    ┆ i64        ┆ i64         │
╞═════════╪══════╪═══════════╪═══════╪═══╪══════════╪════════╪════════════╪═════════════╡
│ 21      ┆ 2    ┆ HOUSTON   ┆ 1     ┆ … ┆ 8        ┆ 2      ┆ null       ┆ null        │
│ 21      ┆ 2    ┆ SKIRT     ┆ 2     ┆ … ┆ 9        ┆ 3      ┆ null       ┆ null        │
│ 21      ┆ 2    ┆ HALLWAY   ┆ 3     ┆ … ┆ 4        ┆ null   ┆ null       ┆ null        │
│ 21      ┆ 2    ┆ CLEVELAND ┆ 4     ┆ … ┆ 8        ┆ null   ┆ null       ┆ null        │
│ 21      ┆ 2    ┆ PAJAMAS   ┆ 5     ┆ … ┆ 9        ┆ null   ┆ null       ┆ null        │
│ …       ┆ …    ┆ …         ┆ …     ┆ … ┆ …        ┆ …      ┆ …          ┆ …           │
│ 45      ┆ 25   ┆ PREACHER  ┆ 20    ┆ … ┆ 27       ┆ null   ┆ null       ┆ null        │
│ 45      ┆ 25   ┆ ELK       ┆ 21    ┆ … ┆ 20       ┆ null   ┆ null       ┆ null        │
│ 45      ┆ 25   ┆ PARSON    ┆ 22    ┆ … ┆ 27       ┆ null   ┆ null       ┆ null        │
│ 45      ┆ 25   ┆ DRAGONFLY ┆ 23    ┆ … ┆ 25       ┆ 1      ┆ null       ┆ null        │
│ 45      ┆ 25   ┆ DEER      ┆ 24    ┆ … ┆ 20       ┆ null   ┆ null       ┆ null        │
└─────────┴──────┴───────────┴───────┴───┴──────────┴────────┴────────────┴─────────────┘